.transcript {
    border: solid black;
    padding: 0.5em;
    height: 7em;
    margin: 0;
    margin-bottom: 1.5em;

    &-text {
        height: calc(7em - 1em);
        overflow-y: scroll;
        margin: 0;
    }
}