<div id="innerWindow">
    <div class="transcript">
        <button *ngIf="hasInitialized == false" style="text-align: center;"
            (click)="makeQuery(); hasInitialized = true;">Begin
            Your
            Conversation</button>
        <p *ngIf="hasInitialized == true" style="white-space: pre-wrap; margin: none;" class="transcript-text">
            {{transcript +
            promptText}}</p>
    </div>
    <app-canvas-window class="window" [viseme]="viseme"></app-canvas-window>
</div>