.chat-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 3.5em);
    align-content: center;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 3.5em);

    background: linear-gradient(0deg, #CD040B, #232323);
}